################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Design2019/v15/Browse.VC.opendb
/.vs/Design2019/v15/Browse.VC.db
/.vs/Design2019/v15/.suo
/.vs/slnx.sqlite
/.vs/tasks.vs.json
/.vs/config/applicationhost.config
